.img-fluid {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#wrapper-image{
    width: 100%;
    max-width: 300px;
    float: left;
}

.div {
    word-wrap: break-word;
}

.style {
    background-image: url("img/lamp.jpg");
  background-size: cover; 
}

